# ---- Python (FastAPI) ----
venv/
.venv/

__pycache__/
*.py[cod]
*.pyo

*.log

# ---- Node.js (React) ----
# Node modules
*/node_modules/

# React ビルド成果物
*/build
*/dist/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---- OS 固有 ----
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ---- Others ----
# Python virtualenv metadata
*.egg-info/

logs/*
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
